.table-cell{
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    position: relative;
}

.column{
    float: left;
}

.word{
    font-size: 2em;
    text-align: center;
}

.cell{
    width: 50px;
    height: 50px;
    
    position: absolute;
}

.a1{
    top: 50px
}

.a2{
    top: 100px
}

.a3{
    top: 150px
}

.a4{
    top: 200px
}

.a5{
    top: 250px
}

.a6{
    top: 300px
}

.a7{
    top: 350px
}

.a8{
    top: 400px
}

.a9{
    top: 450px
}

.column1{
    position: absolute;
    left: 50px;
}

.column2{
    position: absolute;
    left: 100px;
}

.column3{
    position: absolute;
    left: 150px;
}

.column4{
    position: absolute;
    left: 200px;
}

.column5{
    position: absolute;
    left: 250px;
}

.column6{
    position: absolute;
    left: 300px;
}

.column7{
    position: absolute;
    left: 350px;
}

.column8{
    position: absolute;
    left: 400px;
}

.column9{
    position: absolute;
    left: 450px;
}

.dark{
    background: #000;
}



