.k1{
    margin-left: -1px;
}

.k2{
    margin-left: -33px;
}

.k3{
    
   margin-left: -36px;
}



.k4{
    margin-left: -1px;
}

.k5{
    
   margin-left: 12px;
}

.k6{
    margin-left: -57px;
    
}

.k7{
    margin-left: 28px;
}

.k8{
    margin-left: -12px;
}

.k9{
    margin-left: -84px;
}

.k10{
    margin-left: 49px;
}

.k11{
    margin-left: -33px;
}

.k12{
    margin-left: -84px;
}

.k13{
    margin-left: 29px;
}

.k14{
    margin-left: -60px;
}

.k15{
    margin-left: -36px;
}

.k16{
    margin-left: 49px;
}

.k17{
    margin-left: -60px;
}

.k18{
    margin-left: -57px;
}