.chess-table {
   width: 500px;
   height: 500px;
   position: relative;
}

.chess-table > div > div:nth-child(n){
    width: 50px;
    height: 50px;
    
    
    
}

.chess-table > div:nth-child(1){
    text-align: center;
    font-size: 2em;
}

.chess-table > div:nth-child(1){
    text-align: center;
    font-size: 2em;
}






.chess-table > div:nth-child(2){
    position: absolute;
    top: 0;
    left: 50px;
}



.chess-table > div:nth-child(2) div:nth-child(odd),
.chess-table > div:nth-child(4) div:nth-child(odd),
.chess-table > div:nth-child(6) div:nth-child(odd),
.chess-table > div:nth-child(8) div:nth-child(odd)
{
    background-color: #4f4f4f;
}

.chess-table > div:nth-child(3) div:nth-child(even),
.chess-table > div:nth-child(5) div:nth-child(even),
.chess-table > div:nth-child(7) div:nth-child(even),
.chess-table > div:nth-child(9) div:nth-child(even)
{
    background-color: #4f4f4f;
}

.chess-table > div:nth-child(2) div:first-child,
.chess-table > div:nth-child(4) div:first-child,
.chess-table > div:nth-child(6) div:first-child,
.chess-table > div:nth-child(8) div:first-child
{
    text-align: center;
    font-size: 2em;
    background: none;
}

.chess-table > div:nth-child(3) div:first-child,
.chess-table > div:nth-child(5) div:first-child,
.chess-table > div:nth-child(7) div:first-child,
.chess-table > div:nth-child(9) div:first-child
{
    text-align: center;
    font-size: 2em;
    
}

.chess-table > div:nth-child(3) div:last-child,
.chess-table > div:nth-child(5) div:last-child,
.chess-table > div:nth-child(7) div:last-child,
.chess-table > div:nth-child(9) div:last-child
{
    background: none;
    text-align: center;
    font-size: 2em;
}

.chess-table > div:nth-child(2) div:last-child,
.chess-table > div:nth-child(4) div:last-child,
.chess-table > div:nth-child(6) div:last-child,
.chess-table > div:nth-child(8) div:last-child{
    text-align: center;
    font-size: 2em;
}

.chess-table > div:nth-child(3){
    position: absolute;
    top: 0;
    left: 100px;
}

.chess-table > div:nth-child(4){
    position: absolute;
    top: 0;
    left: 150px;
}

.chess-table > div:nth-child(5){
    position: absolute;
    top: 0;
    left: 200px;
}

.chess-table > div:nth-child(6){
    position: absolute;
    top: 0;
    left: 250px;
}

.chess-table > div:nth-child(7){
    position: absolute;
    top: 0;
    left: 300px;
}

.chess-table > div:nth-child(8){
    position: absolute;
    top: 0;
    left: 350px;
}

.chess-table > div:nth-child(9){
    position: absolute;
    top: 0;
    left: 400px;
}

.chess-table > div:nth-child(10){
    position: absolute;
    top: 0;
    left: 450px;
    text-align: center;
    font-size: 2em;
}

/* Расставление фигур */
.chess-table > div:nth-child(2) div:nth-child(3)::after,
.chess-table > div:nth-child(3) div:nth-child(3)::after,
.chess-table > div:nth-child(4) div:nth-child(3)::after,
.chess-table > div:nth-child(5) div:nth-child(3)::after,
.chess-table > div:nth-child(6) div:nth-child(3)::after,
.chess-table > div:nth-child(7) div:nth-child(3)::after,
.chess-table > div:nth-child(8) div:nth-child(3)::after,
.chess-table > div:nth-child(9) div:nth-child(3)::after
{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("chess.png");
    background-repeat: no-repeat;
    background-position: -261px 0;
}

.chess-table > div:nth-child(2) div:nth-child(2)::before,
.chess-table > div:nth-child(3) div:nth-child(2)::before,
.chess-table > div:nth-child(4) div:nth-child(2)::before,
.chess-table > div:nth-child(5) div:nth-child(2)::before,
.chess-table > div:nth-child(6) div:nth-child(2)::before,
.chess-table > div:nth-child(7) div:nth-child(2)::before,
.chess-table > div:nth-child(8) div:nth-child(2)::before,
.chess-table > div:nth-child(9) div:nth-child(2)::before
{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("chess.png");
    background-repeat: no-repeat;
    
}

.chess-table > div:nth-child(2) div:nth-child(2)::before,
.chess-table > div:nth-child(9) div:nth-child(2)::before
{
    background-position: -103px 0;
}

.chess-table > div:nth-child(3) div:nth-child(2)::before,
.chess-table > div:nth-child(8) div:nth-child(2)::before
{
    background-position: -206px 0;
}

.chess-table > div:nth-child(4) div:nth-child(2)::before,
.chess-table > div:nth-child(7) div:nth-child(2)::before
{
    background-position: -153px 0;
}

.chess-table > div:nth-child(5) div:nth-child(2)::before{
    background-position: -47px 0;
}

.chess-table > div:nth-child(6) div:nth-child(2)::before{
    background-position: 2px 0;
}









.chess-table > div:nth-child(2) div:nth-child(8)::after,
.chess-table > div:nth-child(3) div:nth-child(8)::after,
.chess-table > div:nth-child(4) div:nth-child(8)::after,
.chess-table > div:nth-child(5) div:nth-child(8)::after,
.chess-table > div:nth-child(6) div:nth-child(8)::after,
.chess-table > div:nth-child(7) div:nth-child(8)::after,
.chess-table > div:nth-child(8) div:nth-child(8)::after,
.chess-table > div:nth-child(9) div:nth-child(8)::after
{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("chess.png");
    background-repeat: no-repeat;
    background-position: -261px -50px;
}


.chess-table > div:nth-child(2) div:nth-child(9)::before,
.chess-table > div:nth-child(3) div:nth-child(9)::before,
.chess-table > div:nth-child(4) div:nth-child(9)::before,
.chess-table > div:nth-child(5) div:nth-child(9)::before,
.chess-table > div:nth-child(6) div:nth-child(9)::before,
.chess-table > div:nth-child(7) div:nth-child(9)::before,
.chess-table > div:nth-child(8) div:nth-child(9)::before,
.chess-table > div:nth-child(9) div:nth-child(9)::before
{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("chess.png");
    background-repeat: no-repeat;
    
}

.chess-table > div:nth-child(2) div:nth-child(9)::before,
.chess-table > div:nth-child(9) div:nth-child(9)::before
{
    background-position: -103px -48px;
}

.chess-table > div:nth-child(3) div:nth-child(9)::before,
.chess-table > div:nth-child(8) div:nth-child(9)::before
{
    background-position: -206px -48px;
}

.chess-table > div:nth-child(4) div:nth-child(9)::before,
.chess-table > div:nth-child(7) div:nth-child(9)::before
{
    background-position: -153px -48px;
}

.chess-table > div:nth-child(5) div:nth-child(9)::before{
    background-position: -47px -48px;
}

.chess-table > div:nth-child(6) div:nth-child(9)::before{
    background-position: 2px -48px;
}






