/* пика */
div.p1,
div.p2,
div.p3
{
  width: 139px;
  height: 196px;
  background-image: url("cards2.png");
  background-repeat: no-repeat;
  background-position: -2px -190px;
  overflow: hidden; 
}

div.p2{
      background-position: -2px -966px;
}

div.p3{
      background-position: -2px -2324px;
}

/* черва */
div.c4,
div.c5,
div.c6
{
  width: 139px;
  height: 196px;
  background-image: url("cards2.png");
  background-repeat: no-repeat;
  background-position: -435px -190px;
  overflow: hidden; 
}

div.c5{
      background-position: -435px -966px;
}

div.c6{
      background-position: -435px -2324px;
}

/* буба */

div.b7,
div.b8,
div.b9
{
  width: 139px;
  height: 196px;
  background-image: url("cards2.png");
  background-repeat: no-repeat;
  background-position: -291px -190px;
  overflow: hidden; 
}

div.b8{
      background-position: -291px -966px;
}

div.b9{
      background-position: -291px -2324px;
}

/* креста */

div.k10,
div.k11,
div.k12
{
  width: 139px;
  height: 196px;
  background-image: url("cards2.png");
  background-repeat: no-repeat;
  background-position: -146px -190px;
  overflow: hidden; 
}

div.k11{
      background-position: -146px -966px;
}

div.k12{
      background-position: -146px -2324px;
}


