p:first-child,
p:nth-child(8),
p:nth-child(15)
{
    font-weight: bold;
    font-size: 1.5em;
}

p:nth-child(2),
p:nth-child(9),
p:nth-child(16)

{
    color:green;
}

p:nth-child(3),
p:nth-child(10),
p:nth-child(17){
    color:red;
    font-weight: bold;
}

p:nth-child(5),
p:nth-child(6),
p:nth-child(7),
p:nth-child(12),
p:nth-child(13),
p:nth-child(14),
p:nth-child(19)
{
    color:blue;
    font-style: italic
    
}

@media screen and (min-width: 800px){
    p:nth-child(5),
p:nth-child(6),
p:nth-child(7),
p:nth-child(12),
p:nth-child(13),
p:nth-child(14),
p:nth-child(19){
    float: left;
    width: 30%;
    
}

    a:nth-child(4),
    p:nth-child(2),
    p:nth-child(3),
    p:nth-child(1),
    a:nth-child(11),
    p:nth-child(8),
    p:nth-child(9),
    p:nth-child(10)
    a:nth-child(18),
    p:nth-child(15),
    p:nth-child(16),
    p:nth-child(17)
    {
       clear: both;
    }
}

@media screen and (max-width: 400px){
    p:first-child::before{
        content: "<400px";
        display: block;
        widows: 100px;
        height: 50px;
    }
}

@media screen and (min-width: 400px) and (max-width: 800px){
     p:first-child::after{
        content: ">400px & <800px";
        display: block;
        widows: 100px;
        height: 50px;
    }
}

@media screen and (min-width: 800px){
     p:first-child::after{
        content: "800px";
        display: block;
        widows: 100px;
        height: 50px;
    }
}
